<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\WebApi.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess" />
      <security>
        <authentication></authentication>
      </security>
    </system.webServer>
  </location>
</configuration>
<!--<configuration>
	<appSettings>
		<add key="owin:AutomaticAppStartup" value="false"/>
	</appSettings>
	<runtime>
		<gcServer enabled="true"/>
	</runtime>
</configuration>-->